# Python environment
numpy==2.3.5
pandas==2.2.3

# Machine Learning
scikit-learn==1.8.0

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2

# Notebook environment
notebook==7.5.3
ipykernel==7.2.0

# Model persistence / utilities
joblib==1.5.3
